<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/non-responsive.css" rel="stylesheet"/>

    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>

    <link href="/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet"/>

    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<p>monsieur/madame <span th:text="${user.personneNom}"></span>,</p>
<br/>
<p>Merci  pour  votre  visite</p>
  <hr/>

<table>
    <tr>
        <th>Facture</th>
        <th>informations</th>
     </tr>
    <tr>
        <td>
            <span th:text="${commande.address}"></span><br/>
             <span th:text="${commande.city}"></span><br/>
            <span th:text="${commande.state}"></span><br/>
            <span th:text="${commande.zip}"></span><br/>
        </td>
        <td>
            <span th:text="${commande.type}">Card Name</span><br/>
            Visa<br/>
            <span th:text="${commande.credit}">Card Number</span><br/>
            <span>Exp Date:</span> <span
                th:text="${commande.month}"></span>/<span
                th:text="${commande.year}"></span><br/>
        </td>
       
    </tr>
</table>

<h3><strong>Order summary</strong></h3>
<table>
    <thead>
    <tr>
        <td><strong>Nom article</strong></td>
                <td class="text-center"><strong>Nom Article</strong></td>
        
        <td class="text-center"><strong>prix Article </strong></td>
        <td class="text-center"><strong>quantite</strong>
        </td>
        <td class="text-right"><strong>Total</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItemList}">
        <td><span data-th-text="${cartItem.article.articleNom}"></span>
        </td>
        <td data-th-text="${cartItem.article.articlePrix}"
            class="text-center">
        </td>
        <td data-th-text="${cartItem.article.articleNumberDispo}" class="text-center">

        </td>
        <td data-th-text="${sum}"
            class="text-right">
        </td>
    </tr>
    <tr>
        <td class="highrow"></td>
        <td class="highrow"></td>
        <td class="highrow text-center">
            <strong>Subtotal</strong></td>
        <td data-th-text="${sum}"
            class="highrow text-right">
        </td>
    </tr>
    <tr>
        <td class="emptyrow"></td>
        <td class="emptyrow"></td>
        <td class="emptyrow text-center"><strong>Tax</strong>
        </td>
        <td data-th-text="${#numbers.formatDecimal(sum*0.06, 0, 2)}"
            class="emptyrow text-right">
        </td>
    </tr>
    
    </tbody>
</table>
<br/>
<p>Best,</p>
<p>Catalog Isamm</p>
</body>
</html>